#row_theme_general_generaloptions_gfont_headings h1 {text-align: center;}

#row_theme_general_generaloptions_gfont_menu .gfont-preview {background: #fff; display: inline-block; padding: 10px 20px; margin-top: 10px}
#row_theme_general_generaloptions_gfont_menu .gfont-preview span {font-size: 14px; text-transform: uppercase}

#row_theme_general_generaloptions_gfont_headings .gfont-preview {background: #fff; display: inline-block; padding: 10px 20px; margin-top: 10px}
#row_theme_general_generaloptions_gfont_headings .gfont-preview h1 {margin-bottom: 0}
